	$base-font-size: 16px;
	$base-line-height: 1.4;
	$base-font-family: "文泉驛正黑", "WenQuanYi Zen Hei", "黑體-繁","Heiti TC", "微軟正黑體", "Microsoft JhengHei", Arial, sans-serif;
	$font-family-roboto: "Roboto";
	// @include establish-baseline();

	// 文件樣式

	@charset "UTF-8";
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font: inherit;
	  font-size: 100%;
	  vertical-align: baseline;
	}


	ol, ul, li {
	  list-style: none;
	}

	table {
	  border-collapse: collapse;
	  border-spacing: 0;
	}

	caption, th, td {
	  text-align: left;
	  font-weight: normal;
	  vertical-align: middle;
	}

	q, blockquote {
	  quotes: none;
	}
	q:before, q:after, blockquote:before, blockquote:after {
	  content: "";
	  content: none;
	}

	a img {
	  border: none;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	  display: block;
	}

	html {
	  font-size: 100%;
	  line-height: 1.4;
	}

	* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	html, body {
	  height: 100%;
	}

	h1 {
	  font-size: 25px;
	}

	h2 {
	  font-size: 20px;
	}

	a {
	  text-decoration: none;
	}

	body main {
	  width: 100%;
	}
	
	body {
		height: auto;
		background-color: #ccc;
	}

	input, textarea {
		&.focus {
			outline: none; // moz
		}
	}

//extend

// .title {
// 	position: absolute;
// 	left: 20px;
// 	bottom: 8px;
// 	color: #fff;
	
// 	.title-zh {
// 		font-size: 20px;
// 		display: block;
// 		margin-bottom: 15px;
// 	}

// 	.title-en {
// 		display: block;
// 		font-size: 13px;
// 		font-family: $font-family-roboto;
// 	}					
// }


// content start

//home page lower section
.content-homepage {
	position: absolute;
	top: 50px;
	left: 55px;
	font-family: $base-font-family;

	.content-box {
		background-color: #fff;

		.content-box-pic {
			position:relative;
			height: 384px;
			width: 270px;

			.blurbox {
				position: absolute;
				bottom: 0;
				background: url("../img/blurbox.png") no-repeat;
				width: 100%;
				height: 101px;

				.title {
					position: absolute;
					left: 20px;
					bottom: 8px;
					color: #fff;
					font-weight: bold;
					
					.title-zh {
						font-size: 20px;
						display: block;
						margin-bottom: 15px;
					}

					.title-en {
						display: block;
						font-size: 13px;
						font-family: $font-family-roboto;
					}					
				}
			}
		}

		.content-box-info {
			height:242px;
			width:270px;
			padding: 18px;
			font-size: 13px;

			.tag-group{
				display: block;
				width:100%;
				font-size: 12px;

				.tag {
					display: inline-block;
					padding: 6px 7px;
					height: 25px;
					line-height: 15px;
					text-align: center;

					&.theater {
						width: 68px;
						color: #fff;
						background-color: #45BCC2;
					}

					&.category {
						margin-left: 15px;
						width: 70px;
						color: #C2A045;
						border: 1px solid #C2A045;
					}

					&.animation {
						margin-left: 15px;
						width: 40px;
						color: #C2A045;
						border: 1px solid #C2A045;
					}
				}

			}
			.release {
				margin-top: 20px;
				font-size: 12px;

				.icon-clock-icon {
					margin-right: 14px;
				}
			}
			.content-box-title {
					font-weight: bold;
				}

			.imdb_rating {
				margin-top: 13px;

				.content-box-title {
					font-weight: bold;
				}
				
				.icon-Star {
					margin:7px;
					color: #C2A045;
				}
				.score {
					color:#C2A045;
				}
			}
			.maintext {
				margin-top: 13px;
				display: block;

				.maintext-par {
					margin-top:6px;
					line-height: 30px;

					a {
						position: absolute;
						right:30px;
					}
				}
			}
		}
	}
}


//in theater lower section

.content-intheater {
	position: absolute;
	top: 50px;
	left: 500px;
	font-family: $base-font-family;

	.content-box {
		background-color: #fff;

		.content-box-pic {
			position:relative;
			height: 384px;
			width: 270px;

			.blurbox {
				position: absolute;
				bottom: 0;
				background: url("../img/blurbox.png") no-repeat;
				width: 100%;
				height: 101px;
				
				.title {
					position: absolute;
					left: 20px;
					bottom: 8px;
					color: #fff;
					font-weight: bold;
					
					.title-zh {
						font-size: 20px;
						display: block;
						margin-bottom: 15px;
					}

					.title-en {
						display: block;
						font-size: 13px;
						font-family: $font-family-roboto;
					}
				}
			}
		}         

		.content-box-info {
			height: 85px;
			width:270px;
			padding: 18px;
			font-size: 13px;

			.release {
				font-size: 12px;

				.icon-clock-icon {
					margin-right: 14px;
				}
			}

			.imdb_rating {
				margin-top: 13px;

				.content-box-title {
					font-weight: bold;
				}
				
				.icon-Star {
					margin:7px;
					color: #C2A045;
				}
				.score {
					color:#C2A045;
				}
			}
		}
	}
}

// coming soon section
.content-coming {
	position: absolute;
	top: 50px;
	left: 800px;
	font-family: $base-font-family;

	.content-box {
		background-color: #fff;
		height: 300px;
		width: 586px;

		.content-box-pic {
			display: inline-block;
			height: 300px;
			width: 225px;
		}

		.content-box-info {
			display: inline-block;
			vertical-align: top;
			height: 300px;
			padding: 30px;
			font-size: 13px;

			.title {
				font-weight: bold;
				
				.title-zh {
					font-size: 20px;
					display: block;
					margin-bottom: 14px;
				}

				.title-en {
					display: block;
					font-size: 13px;
					font-family: $font-family-roboto;
				}
			}

			.release {
				margin-top: 20px;
				
				.icon-clock-icon {
					margin-right: 14px;
				}
			}

			.tag-group{
				display: block;
				width:100%;
				font-size: 12px;
				margin-top: 15px;

				.tag {
					display: inline-block;
					padding: 6px 7px;
					height: 25px;
					line-height: 15px;
					text-align: center;

					&.theater {
						width: 68px;
						color: #fff;
						background-color: #45BCC2;
					}

					&.category {
						margin-left: 15px;
						width: 70px;
						color: #C2A045;
						border: 1px solid #C2A045;
					}

					&.animation {
						margin-left: 15px;
						width: 40px;
						color: #C2A045;
						border: 1px solid #C2A045;
					}
				}
			}

			.imdb_rating {
				margin-top: 15px;

				.content-box-title {
					font-weight: bold;
				}
				
				.icon-Star {
					margin:7px;
					color: #C2A045;
				}
				.score {
					color:#C2A045;
				}
			}

			.maintext {
				margin-top: 15px;
				display: block;
				font-weight: bold;
			}

			.lower_button {
				position: absolute;
				right: 0;
				bottom: 0;
				text-align: center;
				line-height: 35px;
				font-size: 14px;
				font-weight: bold;
				
				.left {
					display: inline-block;
					width: 180px;
					border-color: rgba(230, 230, 230,0.8);
					border-style: solid;
					border-width: 1px 1px 0 0;

					&:hover {
						color: #fff;
						background-color: #C2A045;
					} 
				}
				
				.right{
					@extend .left;
					border-right:0;
				}
			}
		}
	}
}

